@import "../../app/bower_components/foundation/scss/normalize";
@import "../../app/bower_components/foundation/scss/foundation";

$open-sans: 'Open Sans', sans-serif;

body{
  background: #587497;
  font-family: $open-sans;
}
.home{
  background: #fff;
  height: 100%;
  padding-top: 10px;
  h1{
    margin: 0;
  }
  .logo{
    margin: 10px 0 10px 10px;
  }
  .icon{
    background: url("../img/icons/tel.png") no-repeat left 8px;
    color: #1b2934;
    padding-left: 20px;
    &.entrance{
      background: url("../img/icons/person.png") no-repeat left 8px;
      a{
        border-bottom: 2px dotted #1b2934;
        color: #1b2934;
      }
    }
    p{
      margin: 25px 0 -8px 0;
      font-size: 1.2em;
      font-weight: bold;
    }
    small{
      margin: 0;
    }
  }
  .lang{
    margin: 20px 0 0px 10px;
    .button{
      background: #e7bc37;
      border-radius: 5px;
      box-shadow: 0 -3px 0 0 rgba(215,171,39,.9) inset;
      border: none;
      color: #000;
      margin: 0;
      font-weight: 100;
      font-style: normal;
      -webkit-appearance: none;
      padding: 1em 2em 1.0625em;
      &:active{
        border: none;
        text-decoration: none;
        box-shadow: 0 1px 0 rgba(0,0,0,.2) inset;
      }
    }
    a{
      color: #1b2934;
      margin: 0 5px;
      &:active{
        text-decoration: underline;
      }
      &.active{
        text-decoration: underline;
      }
    }
  }
  #menu-certup{
    margin-top: 15px;
    .left{
      li{
        a{
          text-decoration: underline;
          &.active{
            background: #fff;
            color: #e7bc37;
          }
        }
      }
    }
    .top-bar{
      section{
        ul{
          li{
            padding-right: 25px;
            &.search{
              padding: 0 5px;
            }
          }
        }
      }
      .right{
        input{
          background: url("../img/icons/search.png") no-repeat 10px center;
          padding-left: 35px;
          height: 2.4em;
          width: 350px;
        }
      }
    }
  }
  #video{
    padding-top: 20px;
    .tabs.vertical{
      max-width: 35%;
      width: 35%;
      li.active{
        a {
          position: relative;
          &:before {
            content: "";
            background: url("../img/icons/arrow-video.png") no-repeat;
            position: absolute;
            right: -15px;
            top: 45%;
            height: 26px;
            width: 15px;
            z-index: 100;
          }
        }
      }
      h4{
        color: #fff;
        font-size: 1.2em;
      }
      p{
        font-size: 0.9em;
      }
    }
    .tabs-content{
      height: 100%;
      .content{
        padding: 0;
      }
      iframe{
        margin: 0;
        padding: 0;
        position: absolute;
        height: 89%;
        width: 65%;
      }
    }
  }
  #stock{
    padding: 20px 0;
    h2{
      background: #faf9f7;
      color: #313131;
      text-transform: uppercase;
      font-weight: bold;
      margin: -30px auto;
      margin-bottom: 30px;
      width: 12%;
    }
    section{
      border-top: 2px dotted #babec2;
      .button{
        background: #e7bc37;
        border-radius: 5px;
        box-shadow: 0 -3px 0 0 rgba(215,171,39,.9) inset;
        border: none;
        color: #000;
        margin: 0;
        font-weight: 100;
        font-style: normal;
        -webkit-appearance: none;
        padding: 1em 2em 1.0625em;
        &:active{
          border: none;
          box-shadow: 0 1px 0 rgba(0,0,0,.2) inset;
        }
      }
      h3{
        font-size: 1.7em;
        font-weight: bold;
      }
      .iphone{
        margin: 0 auto;
        position: relative;
        left: 17%;
        height: 100%;
        width: 100%;
      }
      i{
        color: #9f9f9f;
        font-size: 0.9em;
      }
      a{
        color: #9f9f9f;
        margin-left: 15px;
        border-bottom: 1px dotted #9f9f9f;
      }
      .vert-center{
        padding-top: 12%;
        p{
          text-transform: uppercase;
          font-size: 1em;
          margin: 0;
          font-weight: bold;
          .yellow{
            color: #e7bc37;
            font-size: 2.5em;
            font-weight: bold;
          }
        }
        img{
          margin: 0 auto;
        }
      }
    }
  }
  #news {
    padding: 50px 0;
    h2{
      background: #fff;
      color: #313131;
      text-transform: uppercase;
      font-weight: bold;
      margin: -30px auto;
      margin-bottom: 30px;
      width: 15%;
    }
    section {
      border-top: 2px dotted #babec2;
      img{
        margin-bottom: 20px;
        width: 100%;
      }
      a{
        text-decoration: underline;
      }
      i{
        color: #9f9f9f;
        font-size: 0.9em;
      }
      p{
        &.description{
          color: #262626;
          margin-top: 10px;
        }
      }
    }
  }
  #footer{
    background: #faf9f7;
    height: 100%;
    padding: 10px;
    h2{
      color: #1f466f;
      font-size: 1em;
    }
    ul{
      padding: 0;
      margin:0;
      li{
        padding: 0;
        margin:0;
        list-style: none;
        a{
          color: #000;
          text-decoration: underline;
          &.email{
            color: #20a3ef;
          }
        }
      }
    }
    .soc{
      margin-left: 5px;
    }
    .button{
      background: #e7bc37;
      border-radius: 5px;
      box-shadow: 0 -3px 0 0 rgba(215,171,39,.9) inset;
      border: none;
      color: #000;
      margin: 0;
      font-weight: 100;
      font-style: normal;
      -webkit-appearance: none;
      padding: 1em 2em 1.0625em;
      &:active{
        border: none;
        box-shadow: 0 1px 0 rgba(0,0,0,.2) inset;
      }
    }
    .copyright{
      margin: 40px 0;
      margin-bottom: 0;
      color: #000;
      font-size: 0.75em;
    }
  }
}

#sign, #registration{
  .margin{
    &.padding-top{
      height: 100px;
    }
  }
  .sign, .registration{
    background: #e7bc37;
    border-radius: 5px;
    box-shadow: 0 -3px 0 0 rgba(215,171,39,.9) inset;
    border: none;
    color: #000;
    margin: 0;
    font-weight: bold;
    font-style: normal;
    font-size: 1.2em;
    -webkit-appearance: none;
    padding: 1em 2em 1.0625em;
    &:active{
      border: none;
      box-shadow: 0 1px 0 rgba(0,0,0,.2) inset;
    }
  }
  .registration{
    background: #c6c6c6;
    box-shadow: 0 -3px 0 0 rgba(158,158,158,.9) inset;
  }
  .close-reveal-modal{
    font-weight: 100;
    font-size: 1.8em;
  }
  .welcome{
    background: url("../img/welcome.png") no-repeat center;
    background-size: 100%;
    padding: 40px 0;
    width: 94%;
    h2{
      font-size: 1.2em;
      padding-top: 90px;
      i{
        color: #9f9f9f;
      }
    }
  }
  label{
    position: relative;
    font-size: 1.4em;
    a{
      float: right;
      font-size: 0.75em;
      font-weight: bold;
      color: #676767;
      border-bottom: 2px dotted #676767;
    }
    .pass{
      position: absolute;
      top: 55px;
      right: 20px;
    }
  }
  input{
    border-radius: 5px;
    height: 3.4125rem;
    font-size: 1.3em;
  }


}
#registration{
  h2{
    font-size: 1.2em;
    padding: 20px 0;
    padding-top: 40px;
    i{
      color: #9f9f9f;
    }
  }
  label{
    font-size: 1.2em;
    font-weight: bold;
  }
  input{
    height: 3rem;
  }
  .code{
    background: #e7bc37;
    border-radius: 5px;
    box-shadow: 0 -3px 0 0 rgba(215,171,39,.9) inset;
    border: none;
    color: #000;
    margin: 0;
    margin-left: 16px;
    font-weight: bold;
    font-style: normal;
    font-size: 0.68em;
    -webkit-appearance: none;
    padding: 1em 2em 1.0625em;
    &:active{
      border: none;
      box-shadow: 0 1px 0 rgba(0,0,0,.2) inset;
    }
  }
  .none{
    padding-left: 0;
    padding-right: 0;
    &.btn-padding{
      padding-bottom: 55px;
    }
  }
}

@import "media";


